<head>
    <link rel="stylesheet"type="text/css"  href="./../css/footer.css">
</head>

<footer>

    <p>
        Created with ❤️ by <a target="_blank" href="https://rajdeep010.github.io/Portfolio/">Rajdeep Mallick </a> Follow me :

        <a target="_blank" href="https://www.instagram.com/rajdeepmallick010"><i class="fab fa-instagram"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/rajdeep-mallick-6477381b4/"><i class="fab fa-linkedin"></i></a>
        <a target="_blank" href="https://github.com/rajdeep010"><i class="fab fa-github"></i></a>
    </p>

</footer>