footer {
    background-color: rgb(14, 14, 80);
    color: #fff;
    font-size: 1.2rem;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer .fa-heart {
    color: red;
}

footer .fa-dev {
    color: #fff;
}

footer .fa-twitter-square {
    color: #1da0f1;
}

footer .fa-instagram {
    color: #f0007c;
}

fotter .fa-linkedin {
    color: #0073b1;
}


footer a {
    color: #3c97bf;
    text-decoration: none;
    margin-right: 5px;
}